/*-------------------------
  Accident Details Styles
-------------------------*/
.accident-details-area {
    padding: 120px 0;
    .health-summery-table {
        p {
            margin-bottom: 24px;
        }
        .table {
            margin-bottom: 40px !important;
        }
    }
}
.accident-top-banner {
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
}

.product-details-accordion {
    .accordion-item {
        border: none;
        margin-bottom: 40px;
        border-radius: 10px;
        .accordion-header {
            .accordion-button {
                background-color: #B2F3F3;
                border: none;
                box-shadow: none;
                font-size: 18px;
                font-weight: 500;
                color: $secondary_color;
                padding: 25px 40px 20px;
                border-radius: 10px 10px 0px 0px;
                &:after {
                    display: none;
                }
                &.collapsed {
                    border-radius: 10px;
                }
            }
        }
        .accordion-body {
            padding: 16px 40px;
            .table {
                margin-bottom: 0 !important;
                thead {
                    th {
                        background-color: transparent !important;
                        border-bottom: 1px solid $secondary_color;
                    }
                }
                th, td {
                    padding: 16px 40px !important;
                    border-right: none;
                }
            }
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .benefit-details {
        .accordion-body {
            padding: 0;
            p {
                font-weight: 500;
                padding: 16px 40px;
            }
        }
    }
}