/*-------------------------
  Form Default Styles
-------------------------*/
.form-control {
    height: 48px;
    background-color: #F8FAFC;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    color: $paragraph_black;
    border: none;
    padding: 12px;
    /* -- Placeholder -- */
    &::placeholder {
        color: $paragraph_black;
        /* Firefox */
        opacity: 1;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $paragraph_black;
        opacity: 1;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $paragraph_black;
        opacity: 1;
    }
    &:focus {
        border: none;
        box-shadow: none;
        background-color: #F8FAFC;
    }
    &.textarea {
        height: auto;
    }
}

.form-field {
    margin-top: 24px;
    label {
        font-size: 16px;
        font-weight: 500;
        color: $dark_grey;
        margin-bottom: 8px;
        @media only screen and (max-width: 767px) {
            font-size: 14px;
        }
        span {
            color: $accent_color;
        }
    }
}

.radio-btn-group {
    display: flex;
    align-items: center;
    .form-check-radio {
        margin-right: 20px;
    }
}

.form-check-radio {
    min-height: auto;
    padding-left: 0;
    margin-bottom: 0;
    &:last-child {
        margin-right: 0;
    }
    .form-check-input {
        height: 0;
        width: 0;
        margin: 0;
        border: none;
        &:focus {
            box-shadow: none;
        }
        &:checked {
            ~label {
                &:before {
                    border-color: $primary_color;
                }
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    .form-check-label {
        position: relative;
        padding-left: 28px;
        font-weight: 400;
        margin-bottom: 0;
        cursor: pointer;
        &:before {
            content: "";
            height: 18px;
            width: 18px;
            border: 1px solid #697883;
            border-radius: 50%;
            position: absolute;
            top: 3px;
            left: 0;
        }
        &:after {
            content: "";
            height: 12px;
            width: 12px;
            background-color: $primary_color;
            border-radius: 50%;
            position: absolute;
            top: 6px;
            left: 3px;
            opacity: 0;
        }
    }
}

.custom-file-field {
    position: relative;
    background-color: #F8FAFC;
    border-radius: 10px;
    .file-control {
        opacity: 0;
    }
    span {
        position: absolute;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        pointer-events: none;
    }
    .attach-file {
        font-size: 14px;
        background-color: #F8FAFC;
        border-radius: 8px;
        border: 1px dashed #D3D3D3;
        padding: 5px 8px;
        i {
            color: $primary_color;
            margin-right: 8px;
        }
    }
    .file-size {
        font-size: 12px;
        left: 130px;
    }
}

.form-check-checkbox {
    padding-left: 0;
    margin-top: 20px;
    .form-check-input {
        background-color: transparent;
        height: 18px;
        width: 18px;
        border: 2px solid $paragraph_black;
        border-radius: 5px;
        top: 4px;
        position: relative;
        margin: 0;
        &:focus {
            box-shadow: none;
        }
        &:checked {
            background-color: $primary_color;
            border-color: $primary_color;
        }
    }
    .form-check-label {
        font-weight: 500;
        font-size: 18px;
        color: $paragraph_black;
        cursor: pointer;
        padding-left: 8px;
    }
}

select {
    background: url(../images/angle.png) 92% center no-repeat transparent;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.submit-btn {
    background-color: $primary_color;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border: none;
    height: 55px;
    line-height: 56px;
    padding: 0 45px;
    border-radius: 10px;
    transition: .3s;
    &:hover {
        background-color: $secondary_color;
    }
}
