/*-------------------------
  Health Details Styles
-------------------------*/

.health-details-banner {
    padding: 120px 0;
    background-color: #ffffff;
}

.health-details-area {
    padding: 120px 0;
}