$primary_color: #0eb4b4;
$secondary_color: #082854;
// $accent_color: #ef7573;
$accent_color: #F6716F;
$primary_font: 'Heebo', sans-serif;

$paragraph_black: #697883;
$paragraph_white: #fff;
$dark_grey: #697883;
$medium_grey: #b6c5d1;
$light_grey: #f0f3f6;


$section_headline_font_size: 42px;
$section_sub_headline_font_size: 32px;
